body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.contenedor {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.grafica {
    max-width: 90%;
    margin: 20px auto;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

canvas {
    display: block;
    width: 100% !important;
    height: auto !important;
}
#resultado {
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
    background-color: #e9ecf7;
    font-size: 18px;
    color: #155724;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}